body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.textarea {
  width: 880px;
  height: 200px;
  margin-top: 30px;
  font-size: 20px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(0, 0, 210);
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 25px;
  color: aliceblue;
  /* text-align: center; */
  background-color: darkblue;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}

.key_dark {
  background-color: rgb(0, 0, 108);
}

.key_long {
  flex-grow: 1;
  font-size: 20px;
}

.key_whitespace {
  min-width: 403px;
}

.key_active,
.key:active {
  background-color: rgb(32, 32, 188);
  border-radius: 26.4px;
}
